* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.img-fluid {

    max-width: 200px;
    max-height: 200px;
    animation: slideLeft 0.5s forwards;
}

@keyframes slideLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
        /* Inicialmente fuera de la vista a la izquierda */
    }

    to {
        opacity: 1;
        transform: translateX(0);
        /* Deslízate hacia la posición original */
    }
}

.navbar-brand img {
    width: 90px; /* Ajusta el ancho de la imagen según tus necesidades */
    margin-right: 10px; /* Espacio entre la imagen y el texto "Inicio" */
    border:3px solid #cccccc;
    border-radius: 50%;
  }
#navBar {

    background-color: #6699CC;
   
}

#navClass {
    font-family: 'Montserrat', sans-serif;
}

.btn-personal {
    color: aliceblue;
    margin-left: 6px;
}

.btn-personal:hover {
    transition: 2s;
    background-color: #198754;
    border-radius: 10px;
    color: aliceblue;
}


.bg-colorpersonal {
    font-size: 24px;
    font-weight: bold;
    background-color: #198754;

}

.bg-colorpersonal2 {
    background-color: rgba(3, 134, 134, 0.267);
}

#uno {
    width: 20%;
    height: 20%;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: antiquewhite;
    border-style: double;
    text-transform: uppercase;
    animation: slideRightToLeft 0.5s forwards;


}

@keyframes slideRightToLeft {
    from {
        opacity: 0;
        transform: translateX(100%);
        /* Inicialmente fuera de la vista a la izquierda */
    }

    to {
        opacity: 1;
        transform: translateX(0);
        /* Deslízate hacia la posición original */
    }
}

.container {
    display: flex;
    justify-content: space-around;
}


.flex-container {
    display: flex;
    align-items: center;
}

.image-box {
    max-width: 50%;
    /* Cambiar según lo necesites */
    flex: 1;
    margin-right: 20px;
}

.despacho {
    max-width: 100%;
    max-height: 100%;
    border: 4px solid #666666;
}

.text-box {
    flex: 1;
}

.text-box p {
    font-size: 24px;
    margin-right: 20px;
}

/* CARROUSEL */
/* Agrega estos estilos para centrar las imágenes en el carrusel */


.swiper-slide img {
    padding-top: 1em;
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.presentacion {
    text-align: center;
    padding-top: 8px;
}

.text {
    padding-left: 0.5em;
    font-family: 'Domine', serif;
    font-family: 'Montserrat', sans-serif;
}

.text-personal {
    font-family: 'Domine', serif;
    font-family: 'Montserrat', sans-serif;
}

.logo2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: min-content;
    width: min-content;
    padding: 5%;
    
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    /* Comienza con opacidad 0 (invisible) */
    50% {
        opacity: 1;
    }

    /* Llega a opacidad 1 (totalmente visible) a la mitad de la animación */
    100% {
        opacity: 0;
    }

    /* Termina nuevamente con opacidad 0 (invisible) */
}

.logo2 {
    animation: fade 5s ease-in-out infinite;
    /* Duración de la animación de 3 segundos, repetición infinita */
}

#pills-tab .nav-link,
#pills-tab .button-custom {
    background-color: #198754;
    color: aliceblue;
    /* background-color:#D1C5A5;
    color: #7c5969; */
}

#pills-tab .nav-link.active {
    background-color: #093521;
    color: aliceblue;
    /* background-color: #8d1812;
    color: #cccccc; */
}

.button-custom:hover {
    background-color: #A38A5F;
    color: #752c4e;

}

#seccion-contacto {
    background-color: #001F3F;
    /* background-color:  #A38A5F; */
    min-height: 400px;
    min-width: 400px;
    position: relative;
    border-style: double;
    margin-left: 20px;
    margin-right: 20px;
}

#seccion-contacto:hover {
    background-color: #001f3fa8;
    /* background-color: #4D3339; */
    transition: 2s;
}

.text-2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: aliceblue;
}

.text-3 {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #4c7296;
    font-family: 'Merriweather Sans', sans-serif;
    margin-top: 5%;
}


.borde {
    border-top: 5px solid;
    border-bottom: 1px solid #cccccc;
    font-size: 20px;
    padding: 15px 0px;
    margin-bottom: 40px;
    display: inline-block;
    width: 100%;
}


.borde::before {
    content: "";
    height: 8px;
    width: 70px;
    display: inline-block;
    float: right;
    margin: -20px 0px 0px;
    background-color: #8d1812;

}
.container {
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    flex-wrap: wrap; 
  }
  
  .map-container {
    flex: 1;
    max-width: 45%; 
  }
    
  
.contact-container {
    display: flex;
    flex: 1; 
    max-width: 45%; 
    justify-content: center;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
    padding: 0px;
    height: 100vh;
    font-family: serif;
    font-size: 2em;
    

}


.contact-p {
        background: radial-gradient(circle at center, #3498db, #297fb980);
        border-radius: 20px;
        border: 5px solid #1d5d43; 
        box-sizing: border-box;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        color: #e0e0e0;
        font-style: italic;

      }
      
      .contact-p:hover {
        color:whitesmoke;
    }
    



.footer1 {
    width: 100%;
    height: 530px;
    background-image: linear-gradient(#001F3F, #6699CC);
    margin-top: 0em;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #D1C5A5;
    text-align: center;
}

.footer {
    width: 100%;
    height: 500px;
    background-image: linear-gradient(#001F3F, #6699CC);
    padding: 1em;
    font-family: ;
    color: #D1C5A5;
    text-align: center;

}

.footer:hover {
    color: whitesmoke;
    transition: 2s linear;
}

.footer div h4 {
    font-family: 'Roboto', sans-serif;
    color: #198754;
    font-weight: bold;
    margin: 100px;
    cursor: pointer;

}

.footer div h4:hover {
    color: #093521;
}


.mail {
    cursor: pointer;
}

.linea {
    border-top: 1px solid rgba(155, 153, 153, 0.651);
    height: 2px;
    padding: 0;
    margin: 0.1px auto 0 auto;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #001F3F;
    border-radius: 10px;
    max-width: 40%;
    max-height: 100px;
    margin: 0 auto;


}

.icons i {
    margin: 0 40px;
}

/*     AREA DE PRACTICA PAG */

.wrapper-box,
.wrapper-box2,
.wrapper-box3 {
    margin: 150px auto;
    width: 70%;
}


.litigio {

    max-width: 320px;
    float: left;
    border: 3px solid #fff;
    margin-right: 15px;
}


.litigio2 {
    max-width: 320px;
    float: right;
    border: 3px solid #fff;
    margin-left: 15px;

}

.text-box h2 {
    font-family: 'Montserrat', sans-serif;
    color: #4c7296;
    font-size: 2.5em;
    margin-bottom: 2%;
}

.text-box p {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    color: #666666;
}

.btn btn-primary {
    justify-content: flex-end
}

/*Sus Socios*/
#tituloSocios {
    
    text-align: center;
    background:radial-gradient(#001f3f7a, #80a9d38f);
    color: #ffffff;
    padding: 20px;
    
}
.informacion {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    color: whitesmoke;
    border-radius: 5px;
    font-size: 16px;

    margin-bottom: 8px;
  }
  
  h6 {
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 10px;
  }

  ol {
    list-style-type: decimal;
    margin-left: 0.5em;
  }
  

  
.containerSocios {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    color: whitesmoke;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 10em;
}

.column {
    flex: 1;
    max-width: 30%;
    margin: 1px;
    padding: 10px;
    background-color: #0051877c; 
    
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.column img {
    width: 100%;
    height: auto;
}

.column .names{
   
    text-align: center; /* Centra el texto */
    font-size: 2em;
}
.column br {
    display: none; /* Oculta el salto de línea */
  }

/*CONTACTO*/

/* .imgContacto {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0%;
    max-width: 100%;
    max-height: 100%;
    border: #4d3339;
    border-style: solid;
} */

.main {
    height: auto;
    width: auto;
    background-image: url('../img/Background.jpg');
    background-size: cover;
}


.ubicacion {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 100%;

}

/* button.custom-button {
    background-color: #8C873E;
    color: #8d1812;
} */

/* .custom-button:hover {
    background-color: #4c7296;
} */

.centered-list {
    text-align: center;
}

.centered-list li {
    list-style-position: inside;
    /* Mantiene los puntos de la lista dentro del área centrada */
}



/* Media Queries */

@media(max-width:768px) {

    .container.animate__backInLeft {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .img-fluid {
        max-width: 100%;
        max-height: auto;
    }

    #uno {
        width: 100%;
        padding: 10px;
        /* Añade un poco de espacio alrededor del botón */
        margin-top: 10px;
        text-align: center;
        font-size: 16px;
        /* Ajusta el tamaño de fuente */
    }


    .navbar-toggler {
        background-color: #198754;
    }

    .navbar-toggler-icon {
        background-color: aliceblue;
    }


    /* .bg-colorpersonal {
        display: none;
    } */


    .flex-container {
        flex-direction: column;
        align-items: center;
    }

    .wrapper {
        width: 100%;
    }

    .column {
        flex: 1;
        max-width: 100%;
    }


    .container {
        display: inline-block;

        align-items: center;
        justify-content: center;
        justify-items: center;
        margin-left: 1px;

    }

    #arriba {
        display: block;
        text-align: center;
    }

}

.servicio-fila {
    width: 100% !important;
    text-align: center;
}

.flex-container .wrapper {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: auto;
}

.flex-container .wrapper img {
    width: 100%;
}

/* parrafo de contacto*/

.contact-container {
    max-width: 100%;
}

#contenedor-formulario {
    background-color: #6699cc6c;
    border-radius: 5px;
    padding-top: 1em    ;
    color:black;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}

/* #seccion-contacto {
    margin: ;
} */